@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

html{
    background-color: white;
}
